{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Mind Jersey Asset Management
        {% if title %}- {{ title }}{% endif %}
      {% endblock title %}
      {% block title_extra %}
      {% endblock title_extra %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Asset Management" />
    <meta name="author" content="James Miller" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
            integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
            rel="stylesheet" />
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
      <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.2/b-3.2.3/date-1.5.5/fh-4.0.3/r-3.0.4/sc-2.4.3/sb-1.8.2/datatables.min.css"
            rel="stylesheet"
            integrity="sha384-KMoQCeiV+3SxpbpUGwziGzjrTVNt978NERKfvI6GtjR4SyJqIeodiIlSzOoBvO/b"
            crossorigin="anonymous" />
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script defer
              src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
              integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      <script defer src="{% static 'js/project.js' %}"></script>
      <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.3.2/b-3.2.3/date-1.5.5/fh-4.0.3/r-3.0.4/sc-2.4.3/sb-1.8.2/datatables.min.js"
              integrity="sha384-h2jer2cEEo0scCTn+TNBuQb6iuXMyD3Lyn4ZIl6DjB1HV/XOV6p9Mxpc5t2konRn"
              crossorigin="anonymous"></script>
    {% endblock javascript %}
    {% block extra_javascript %}
    {% endblock extra_javascript %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block body %}
      <div class"title-bar">
        <div class="row row-cols-1">
          <!-- align items to the left side -->
          <div class="col-12 mh-50 d-flex justify-content-between align-items-center">
            <img src="{% static 'images/logo.png' %}"
                 alt="Mind Jersey Asset Management"
                 class="p-2 d-block"
                 height="75" />
            <h3 class="me-3 text-primary roboto-mono-navbar">Mind Jersey Asset Management</h3>
          </div>
        </div>
      </div>
      <div class="mb-1">
        <nav class="navbar navbar-custom navbar-expand-md navbar-light roboto-mono-navbar">
          <div class="container-fluid">
            <button class="navbar-toggler navbar-toggler-right"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-light"
                 id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link link-light" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link link-light" href="{% url 'about' %}">About</a>
                </li>
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link link-light"
                       href="{% url 'users:detail' request.user.username %}">{% translate "My Profile" %}</a>
                  </li>
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a class="nav-link link-light" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                  </li>
                {% else %}
                  {% if ACCOUNT_ALLOW_REGISTRATION %}
                    <li class="nav-item">
                      {# URL provided by django-allauth/account/urls.py #}
                      <a id="sign-up-link"
                         class="nav-link link-light"
                         href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="log-in-link"
                       class="nav-link link-light"
                       href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                  </li>
                {% endif %}
                {% if request.user.is_authenticated and request.user.is_staff %}
                  <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'admin:index' %}">{% translate "Admin" %}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-light"
                       href="{% url 'trakset:asset_transfer_history' %}">{% translate "Search" %}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
        {% block main %}
          {% block content %}
          {% endblock content %}
        {% endblock main %}
      </div>
    {% endblock body %}
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
  </body>
</html>
